{% extends 'base.html.twig' %}
{% block component %}

    <!--importants-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.0/main.min.css" integrity="sha256-uq9PNlMzB+1h01Ij9cx7zeE2OR2pLAfRw3uUUOOPKdA=" crossorigin="anonymous">
    <link
            rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css" integrity="sha512-/zs32ZEJh+/EO2N1b0PEdoA10JkdC3zJ8L5FTiQu82LR9S/rOQNfQN7U59U9BC12swNeRAz3HSzIL2vpp4fv3w==" crossorigin="anonymous">

{% endblock %}
{% block body %}
    <div class="container">
        <h1>Statistiques</h1>
        <canvas id="categories" width="400" height="100"></canvas>

      {#  <canvas id="annonces" width="400" height="100"></canvas>#}
    </div>
    <script>
        let categories = document.querySelector("#categories")
        let complete = "{{ complete|raw }}";
        let notcomplete = "{{ notcomplete|raw }}";
        let categGraph = new Chart(categories, {
            type: "pie",
            data: {
                labels: ["complete","not complete"],
                datasets: [{
                    label: "pourcentage de completation de taches",
                    data:[complete,notcomplete] ,
                    backgroundColor: {{ categColor|raw }}
                }]
            }
        })
    </script>

{% endblock %}