

<div class="row">
    {{ form_start(form,{'attr':{'novalidate':'novalidate'}}) }}

    <div class="col-sm-6 col-md-6 col-lg-6">

        <div class="form-group">





        </div>
    </div>
    <button class="btn">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}
</div>