{% extends 'admin.html.twig' %}

{% block title %}New CaisseOrganisation{% endblock %}
{% block component %}
    <link rel="stylesheet" href="{{ asset("build/css/orgForm.css") }}" />
{% endblock %}
{% block body %}
    <h1>Create new CaisseOrganisation</h1>

    {{ include('caisse_organisation/_form.html.twig') }}


{% endblock %}
