

{% block title %}Hello OrganisationJsonController!{% endblock %}

{% block body %}



    <h1>Hello {{ controller_name }}! ✅</h1>
    <p>{{ data|json_encode }}</p>
    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/Users/MSI/Documents/GitHub/HELPEX/src/Controller/OrganisationJsonController.php'|file_link(0) }}">src/Controller/OrganisationJsonController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/Users/MSI/Documents/GitHub/HELPEX/templates/organisation_json/index.html.twig'|file_link(0) }}">templates/organisation_json/index.html.twig</a></code></li>
    </ul>

{% endblock %}
