{% extends 'base.html.twig' %}

{% block navbar %}{% endblock %}
{% block body %}

	<section class="contact-layout5 bg-overlay bg-overlay-blue-gradient pb-60">
		<div class="bg-img"><img src="assets/images/banners/3.jpg" alt="banner"></div>
		<div class="container">
			<div class="row">
				<div class="col-sm-20 col-md-20 col-lg-50 d-flex flex-column justify-content-between">
					<div>
						<div class="heading heading-light mb-30">
							<h3 class="heading__title mb-30">Oupss!
							</h3>
							<p class="heading__desc">access non-autorisé</p>
						</div>

					</div>

				</div>


			</div>
		</div>
		<!-- /.container -->
	</section>
	<!-- /.contact layout 5 -->
{% endblock %}
{% block footer %}{% endblock %}
