<form method="post" action="{{ path('app_tasks_delete', {'id': task.id}) }}" onsubmit="return confirm('est ce que vous étes sure de vouloir supprimer le Task?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ task.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
